name: UI Tests

on:
  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:
  ui-tests:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Run UI tests
        run: |
          cd ui
          pwd
          cargo test --verbose
