name: UI Tests

on:
  workflow_dispatch:
  workflow_call:

jobs:
  ui-tests:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Run UI tests
        run: |
          bash .github/workflows/test.sh ui/
